* {
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  color: aliceblue;
  background-image: url("https://picsum.photos/720/1480");
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  background-color: rgba(2, 2, 2, 0.5);
  min-height: 100vh;
  border-radius: 10px;
  padding: 0.7em;
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
}
@media screen and (min-width: 768px) {
  body {
    background-image: url("https://picsum.photos/1366/768");
  }
  .container {
    max-width: 60%;
    margin: auto;
  }
}
small {
  font-size: 0.7rem;
  display: flex;
  align-items: center;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0.4em 0;
  border-bottom: 1px solid white;
}
ul li:hover,
ul li:active,
ul li:focus {
  background-color: rgba(9, 9, 9, 0.5);
}
li span {
  flex-grow: 1;
  overflow: hidden;
  font-weight: bold;
  margin-left: 0.4em;
}

li button {
  background-color: transparent;
  border: none;
  border-radius: 0.4em;
  outline: none;
  color: red;
  cursor: pointer;
}

li button:hover,
li button:active,
li button:focus {
  background-color: white;
}

.header-container {
  display: flex;
  padding: 0.7em 0;
}
.header-container .input {
  font: inherit;
  flex-grow: 1;
  background-color: rgba(9, 9, 9, 0.3);
  border: none;
  outline: none;
  text-align: center;
  border-radius: 0.7em;
  border-bottom: solid 2px white;
  padding: 0.4em 1em;
  color: white;
}
.header-container .input:focus {
  background-color: rgba(9, 9, 9, 0.5);
}
.header-container button {
  font: inherit;
  color: red;
  border-radius: 0.7em;
  margin-right: 0.4em;
  padding: 0 0.7em;
  cursor: pointer;
}
.header-container button:hover,
.header-container button:active,
.header-container button:focus {
  background-color: black;
}
