.choiceBtn{
    line-height: 30px;
    width: 150px;
}
.choiceBtn:hover{
    background-color: blue;
    color: white;
}
#gameDiv{
    font-family: 'MV Boli', 'Brush Script MT', cursive;
    border: 3px solid red;
    border-radius: 20px;
    padding: 10px;
    background-color: lightgrey;
}
#playerText{
    color: blue;
}
#computerText{
    color: red;
}