@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Dancing Script', cursive;
}

body {
  background-image: url(1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  width: 100%;
  height: 100vh;
  position: relative;
}

.open-button {
  position: absolute;
  top: 70%;
  left: 10%;
  color: #fff;
  background-color: transparent;
  font-size: 1.5rem;
  border: solid 3px #fff;
  border-radius: 20px;
  padding: 10px 30px;
  transition: 0.5s;
  cursor: pointer;
}
.open-button:hover,
.open-button:focus {
  color: #000;
  background-color: #fff;
  font-weight: bold;
}

/* heart-start */

section {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: none;
}

section .set {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

section .set div {
  position: absolute;
}

section .set div:nth-child(1) {
  left: 5%;
  animation: animate 15s linear infinite;
  animation-delay: -9s;
}
section .set div:nth-child(2) {
  left: 15%;
  animation: animate 15s linear infinite;
  animation-delay: -6;
}
section .set div:nth-child(3) {
  left: 25%;
  animation: animate 15s linear infinite;
  animation-delay: -4s;
}
section .set div:nth-child(4) {
  left: 35%;
  animation: animate 15s linear infinite;
  animation-delay: -7s;
}
section .set div:nth-child(5) {
  left: 45%;
  animation: animate 15s linear infinite;
  animation-delay: -3s;
}
section .set div:nth-child(6) {
  left: 55%;
  animation: animate 15s linear infinite;
  animation-delay: 0s;
}
section .set div:nth-child(7) {
  left: 65%;
  animation: animate 15s linear infinite;
  animation-delay: -2s;
}
section .set div:nth-child(8) {
  left: 75%;
  animation: animate 15s linear infinite;
  animation-delay: -5s;
}
section .set div:nth-child(9) {
  left: 85%;
  animation: animate 15s linear infinite;
  animation-delay: -1s;
}
section .set div:nth-child(10) {
  left: 95%;
  animation: animate 15s linear infinite;
  animation-delay: 0s;
}

@keyframes animate {
  0% {
    /* opacity: 0%; */
    top: -10%;
    transform: translateX(0px) rotate(0deg) scale(10%);
    filter: contrast(0%);
  }
  10% {
    /* opacity: 30%; */
    filter: contrast(0%);
  }
  20% {
    transform: translateX(-20px) rotate(45deg) scale(40%);
    /* opacity: 1; */
    filter: contrast(100%);
  }
  40% {
    transform: translateX(-20px) rotate(90deg) scale(60%);
  }
  60% {
    transform: translateX(-20px) rotate(180deg) scale(80%);
  }
  80% {
    transform: translateX(-20px) rotate(270deg) scale(100%);
  }
  100% {
    top: 110%;
    transform: translateX(-20px) rotate(360deg) scale(100%);
  }
}

.set2 {
  transform: scale(2) rotateY(180deg);
  filter: blur(1px);
}

.set3 {
  transform: scale(3) rotateX(180deg);
  filter: blur(2px);
}
/* heart-end */
