#gameContainer{
    position: relative;
    text-align: center;
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0)50%,
                rgba(0, 0, 0, 0)100%), url(1.jpg);
    background-position: center;
    background-size: cover;
    height: 97vh;
}
#gameBoard{
    border: 5px solid;
    border-radius: 20px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0)100%,
                rgba(0, 0, 0, 0)100%);
    background-position: center;
}
#scoreText{
    position: absolute;
    z-index: -9;
    left: 47%;
    top: 10%;
    font-family: cursive, "MV Boli";
    font-size: 110px;
    color: lightgray;
}
#resetBtn{
    font-family: "Permanent Marker", "MV Boli";
    font-size: 22px;
    width: 100px;
    height: 50px;
    border: 3px solid;
    border-radius: 15px;
    cursor: pointer;
}